@import '../abstract/variaveis';

footer{
    background-color: $color-fourth;
    color: $color;
    padding: 5%;
    svg{
        width: 100%;
        margin-bottom: 2rem;
    }
    .contacts{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;
        .contacts-link{
            
            
            .phone{
                display: flex;
                &::before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    background:url('../../images/icon-phone.svg');
                    background-repeat: no-repeat;
                    display: block;
                    margin-right: 10px;
                }
            }
            .email{
                display: flex;
                &::before{
                    content: '';
                    width: 20px;
                    height: 20px;
                    background:url('../../images/icon-email.svg');
                    background-repeat: no-repeat;
                    display: block;
                    margin-right: 10px;
                }
            }
            
        }
        ul{
            list-style: none;
            li{
                margin-bottom: 12px;
            }
        }

        .social-icon{
            display: flex;
            li{
                border: 2px solid #fff;
                border-radius: 100%;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10%;
                margin-right: 1rem;
                &:hover{
                    color: $btnColor;
                    border: 2px solid $btnColor;
                }
            }
        }
    }

}