@import './variaveis';
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: $mainfont;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
