* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.cabecalho {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2%;
  width: 90vw;
  box-sizing: border-box;
}
.cabecalho img {
  width: 10%;
}
.cabecalho .menu {
  width: 25%;
}
.cabecalho .menu ul {
  display: flex;
  align-items: center;
}
.cabecalho .menu ul li {
  margin-left: 10%;
}

.cabecalho-hero {
  font-family: "Raleway", sans-serif;
  padding: 5%;
  align-items: center;
  display: flex;
}
.cabecalho-hero img {
  width: 50%;
}
.cabecalho-hero .cabecalho-hero__container h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  color: #0b092f;
}
.cabecalho-hero .cabecalho-hero__container p {
  line-height: 2em;
  margin-bottom: 3%;
  color: #3e3d45;
}
.cabecalho-hero .cabecalho-hero__container .btn, .cabecalho-hero .cabecalho-hero__container .email {
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.5529411765);
  border-radius: 3px;
}
.cabecalho-hero .cabecalho-hero__container .email {
  width: 50%;
}
.cabecalho-hero .cabecalho-hero__container .btn {
  width: 25%;
  background-color: hsl(224, 93%, 58%);
  color: #fff;
  font-weight: 600;
  border: 1px solid hsl(224, 93%, 58%);
  cursor: pointer;
}
.cabecalho-hero .cabecalho-hero__container .btn:active {
  opacity: 0.7;
}

main {
  line-height: 2rem;
}
main .main-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  background-color: #f9f8fe;
  padding-bottom: 10%;
}
main .main-container .ilustration {
  width: 40%;
}
main .main-container .card {
  width: 90%;
}
main .main-container .card h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
main .main-container .card a {
  display: flex;
  align-items: center;
  color: #3d9e8e;
  text-decoration: none;
}
main .main-container .card a::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-left: 5px;
}
main .main-container .card,
main .main-container .second-card {
  padding: 1.5rem;
}
main .main-container .second-card {
  width: 60%;
  padding: 5%;
  background-color: #fff;
  box-shadow: 4px 5px 15px -3px rgba(0, 0, 0, 0.1019607843);
  border-radius: 10px;
}
main .main-container .second-card::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background: url(../../images/icon-quotes.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 12px;
}
main .main-container .second-card .profile-card {
  display: flex;
  align-items: center;
  margin-top: 18px;
}
main .main-container .second-card .profile-card div {
  line-height: 1.3rem;
}
main .main-container .second-card .profile-card .profile {
  border-radius: 100%;
  width: 13%;
  margin-right: 10px;
}
main .wave {
  content: "";
  height: 100px;
  width: 100%;
  background-image: url(../../images/bg-curve-desktop.svg);
}

.earlyAccess-container {
  background-color: #58588c;
  display: flex;
  color: #f9f8fe;
}
.earlyAccess-container article {
  width: 50%;
  padding: 5%;
  line-height: 2rem;
}
.earlyAccess-container article h1 {
  font-size: 2rem;
  margin-bottom: 18px;
}
.earlyAccess-container article form {
  display: flex;
  flex-direction: column;
}
.earlyAccess-container article form input {
  padding: 1rem;
  margin-bottom: 12px;
  border: none;
  border-radius: 5px;
  width: 90%;
}
.earlyAccess-container article form input[type=submit] {
  background-color: hsl(224, 93%, 58%);
  width: 40%;
  color: #f9f8fe;
  font-weight: bold;
}

footer {
  background-color: #08053c;
  color: #f9f8fe;
  padding: 5%;
}
footer svg {
  width: 100%;
  margin-bottom: 2rem;
}
footer .contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
footer .contacts .contacts-link .phone {
  display: flex;
}
footer .contacts .contacts-link .phone::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../images/icon-phone.svg");
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
}
footer .contacts .contacts-link .email {
  display: flex;
}
footer .contacts .contacts-link .email::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../../images/icon-email.svg");
  background-repeat: no-repeat;
  display: block;
  margin-right: 10px;
}
footer .contacts ul {
  list-style: none;
}
footer .contacts ul li {
  margin-bottom: 12px;
}
footer .contacts .social-icon {
  display: flex;
}
footer .contacts .social-icon li {
  border: 2px solid #fff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  margin-right: 1rem;
}
footer .contacts .social-icon li:hover {
  color: hsl(224, 93%, 58%);
  border: 2px solid hsl(224, 93%, 58%);
}/*# sourceMappingURL=style.css.map */